# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
# 이건 frontend에서 버전관리 해야합니다. 버전관리 무시 예외사항으로 두겠습니다.
!frontend/src/lib/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment Variables
.env
.env.*
!.env.example

# App specific
brain/
logs/
docs/
!.sample/docs/
.gradle/
*.zip
!.sample/*.zip

# Tests
tests/
.pytest_cache/

# Data
*.xlsx
*.csv

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/next-env.d.ts
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# LangGraph
.langgraph_api/
langgraph.json